* {
    box-sizing: border-box;
}


img {
    margin: 20px;
    box-shadow: 10px 10px 10px black;
}

@media (min-width: 768px) {

    .container {

        display: flex;
        flex-wrap: wrap;




    }
}