* {
    box-sizing: border-box;


}

.search {
    margin-bottom: 25px;
    padding-top: 25px;
    text-align: center;

}


//flexbox

@media (min-width: 768px) {

    .container {
        width: 100%;
    }
}